body {
  background: #181a1b;
}

.PageContainer {
  background-color: #232627;
  color: #00ff00; 
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  width: 80%; 
  max-width: 800px; 
  height: 80vh; 
  border: 3px solid #00ff00; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.TerminalInput {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}


.TerminalInput input {
  background-color: #232627;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;

  width: 100%;
  margin-left: 15px;
  box-sizing: border-box;
}

.TerminalInput span {
  color: #00ff00;
  font-weight: bold;
}

pre {
  margin: 5px 0;
  font-size: 16px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #00ff00;
}

pre p {
  margin: 0;
}

pre p:hover {
  cursor: pointer;
}

.PageContainer p {
  margin-top: 0px;
  margin-bottom: 0px;
  /*font-size: 20px;*/
  color: white;
}

.PageContainer .PS1 {
  color: #e4be75;
}

.PageContainer span {
  color: white;
}

.PageContainer > pre {
  margin-bottom: 10px;
}

.PageContainer {
  overflow-y: auto;
}

.PageContainer .folder {
  color: #579db6;
}




